.sign-in{
    width: 400px;
    display: flex;
    flex-direction: column;

    span{
        margin-bottom: 10px;
    }

    .buttons{
        display: flex;
        justify-content: space-between;
    }
}