.sign-up{
    display: flex;
    flex-direction: column;
    width: 400px;

    span{
        margin-bottom: 10px;
    }
}


@media screen and (max-width: 800px){
    .sign-up{
        width: 100%;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 370px){
    .sign-up{
        button{
           width: 100%;
        }
    }
}