.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  
    .logo-container {
      height: 100%;
      width: 70px;
      padding: 25px;
    }
  
    .menu-options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .option {
        padding: 10px 15px;
        cursor: pointer;
      }
    }
  }

  
  @media screen and (max-width: 700px) {
    .header{
      height: 60px;
      padding: 10px;
      margin-bottom: 20px;

      .logo-container { 
        width: 50px;
        padding: 0;
      }

      .menu-options {
        width: 80%;
        height: 100%;
      }
    }
  }

  
@media screen and (max-width: 360px){
  .header {
    .menu-options {
      .option {
        font-size: 14px;
        padding: 8px 12px;
      }
    }
  }

}